@using BusControl.Dto
@using BusControl.Models
@model IEnumerable<ViagemModel>
<div class="card">

    <div class="chd">
        <div class="ctitle">
            <div class="cico">🪪</div>
            Consulta de Viagens
        </div>
    </div>

    <form method="get" asp-action="Index">

        <div class="filter-grid">

            <div class="field">
                <label>Destino da viagem</label>
                <input type="text" value="@ViewBag.Destino" name="destino" placeholder="Digite o nome..." />
            </div>

            <div class="field">
                <label>Motorista</label>
                <select name="motorista" class="form-select">
                    <option value="">Selecione o motorista</option>
                    @foreach (var motorista in ViewBag.Motoristas)
                    {
                        var selected = (ViewBag.MotoristaId != null && (int)ViewBag.MotoristaId == motorista.id);

                        <option value="@motorista.id" selected="@(selected ? "selected" : null)">
                            @motorista.Nome
                        </option>
                    }
                </select>
            </div>

            <div class="field">
                <label>Veiculo</label>
                <select name="veiculo" class="form-select">
                    <option value="">Selecione o veículo</option>

                    @foreach (var veiculo in ViewBag.Veiculos)
                    {
                        var selected = (ViewBag.VeiculoId != null && (int)ViewBag.VeiculoId == veiculo.id);

                        <option value="@veiculo.id" selected="@(selected ? "selected" : null)">
                            @veiculo.nomeVeiculo
                        </option>
                    }
                </select>
            </div>

            

        </div>

        <div class="actions-bar">

            <button type="submit" class="btn btn-p"> 🔍 Pesquisar </button>
                
            
            <button type="button" class="btn btn-p" onclick="abrirModalViagem()"> ➕ Nova viagem </button>
                    
                    
            <button type="button" class="btn btn-g" onclick="limparFiltros()"> 🧹 Limpar </button>
                    
                    
                
            

        </div>

    </form>

</div>

<div class="card">

    <div class="table-wrap">

        <table class="tbl">

            <thead>
                <tr>
                    <th>Destino da viagem</th>
                    <th>Motorista</th>
                    <th>Veiculo</th>
                    <th>Quantidade de passageiros</th>
                    <th>Preço da viagem</th>
                    <th>Valor arrecadado</th>
                    <th>Qtde Paradas</th>
                    <th class="text-center">Ações</th>
                </tr>
            </thead>

            <tbody>

                @if (Model != null && Model.Any())
                {
                    @foreach (var viagem in Model)
                    {
                        <tr>

                            <td style="text-align:center;">@viagem.destino</td>
                            <td style="text-align:center;">@viagem.motorista.Nome</td>
                            <td style="text-align:center;">@viagem.veiculo.nomeVeiculo</td>
                            <td style="text-align:center;">@viagem.quantidadePassageiros</td>
                            <td style="text-align:center;">R$ @(viagem.valorViagem.HasValue ? viagem.valorViagem.Value.ToString("N2") : "0,00")</td>
                            <td style="text-align:center;">
                                R$ @string.Format("{0:N2}", (viagem.valorViagem ?? 0) * (viagem.quantidadePassageiros ?? 0))
                            </td>
                            <td style="text-align:center;">@viagem.quantidadeParadas</td>

                            <td>
                                <div class="table-actions">
                                    <button class="action-btn edit">
                                        ✏️
                                    </button>

                                    <button type="button" class="action-btn delete" onclick="excluirViagen(@viagem.id)">
                                        🗑️
                                    </button>
                                </div>

                            </td>

                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="10" class="text-center">
                            Nenhum veiculo encontrado.
                        </td>
                    </tr>
                }

            </tbody>

        </table>

    </div>

</div>




@section Scripts
{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-maskmoney/3.0.2/jquery.maskMoney.min.js"></script>
    <script src="~/js/funcoes.js"></script>
    <script src="~/js/viagens.js"></script>
}



@await Html.PartialAsync("_ModalCadastrarViagens", new ViagensRegisterDto())